@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root{
    --heading-color:#38a34d;
    --highlight-color:#1971c2;
}

*{
    font-family: "Kalam", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-container{
    margin-top: 4em;
    border: 2px solid black;
    padding: 2em;
    text-align: left;
}

.cv-container hr{
    border: 1px solid black;
    margin-bottom:1em;
    width: 300px;
}

.heading{
    color: var(--heading-color);
    margin-bottom:0.8em;
    font-weight: bold;
}
.highlight{
    color: var(--highlight-color);
    margin-bottom:0.5em;
    font-weight: 400;
}

.section{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.cv-text , .list-acv{
    font-size: 0.9em;
}
.list-acv{
    margin: 0.5em 2em 0.5em;
    
}

.links{
    color: black;
}

